.BattleRoyale{
    height: 235vh;
}

.BattleRoyale .all-container{
    padding-top: 30px;
    margin: 0 300px;
    background-color:#43485068 ;
    height: 225vh;
}

.BattleRoyale .recommended-container{
    padding-top: 30px;
}

 .BattleRoyale .recommended-container h3{
    margin-left: 2.3rem;
  
}

.BattleRoyale .games-container{
    display: flex;

}

.BattleRoyale .left-cards-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 150px;
    margin-top: 1rem;
    margin-left: 3rem;
}

.BattleRoyale .right-cards-container{
    margin-top: 1rem;
    margin-left: 3.7rem;
    display: flex;
    flex-direction: column;
}

.BattleRoyale #more-games{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #00ADB5;
}