.MOBA{
    height: 235vh;
}

.MOBA .all-container{
    padding-top: 30px;
    margin: 0 300px;
    background-color:#43485068 ;
    height: 225vh;
}

.MOBA .recommended-container{
    padding-top: 30px;
}

 .MOBA .recommended-container h3{
    margin-left: 2.3rem;
  
}

.MOBA .games-container{
    display: flex;

}

.MOBA .left-cards-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 150px;
    margin-top: 1rem;
    margin-left: 3rem;
}

.MOBA .right-cards-container{
    margin-top: 1rem;
    margin-left: 3.7rem;
    display: flex;
    flex-direction: column;
}

.MOBA #more-games{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #00ADB5;
}