.MOBA{
    height: 235vh;
}

.MOBA .all-container{
    padding-top: 30px;
    margin: 0 300px;
    background-color:#43485068 ;
    height: 225vh;
}

.MOBA .recommended-container{
    padding-top: 30px;
}

 .MOBA .recommended-container h3{
    margin-left: 2.3rem;
  
}

.MOBA .games-container{
    display: flex;

}

.MOBA .left-cards-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 150px;
    margin-top: 1rem;
    margin-left: 3rem;
}

.MOBA .right-cards-container{
    margin-top: 1rem;
    margin-left: 3.7rem;
    display: flex;
    flex-direction: column;
}

.MOBA #more-games{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #00ADB5;
}

@media (max-width: 1024px) {
    .MOBA{
        height: 170vh;
    }
    
    .MOBA .all-container{
        padding-top: 30px;
        margin: 0 ;
        height: 170vh;
    }
    
    .MOBA .recommended-container{
        padding-top: 0px;
    }
    
     .MOBA .recommended-container h3{
        display: none;
      
    }
    
    
    .MOBA .left-cards-container{
        display: flex;
        flex-direction: column;
        width: 520px;
        height: 150px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .MOBA .right-cards-container{
        margin-top: 467px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    
    .MOBA #more-games{
        margin-left: 1rem;
        margin-top: 1rem;
    }
    
}


@media (max-width: 576px) {

    .MOBA{
        height: 190vh;
    }
    .MOBA .all-container{
 
        height: 190vh;
    }
}