

.Shooter .all-container{
    padding-top: 30px;
    margin: 0 300px;
    background-color:#43485068 ;
}

.Shooter .recommended-container{
    height: 60vh;
    padding-top: 30px;
}

 .Shooter .recommended-container h3{
    margin-left: 2.3rem;
  
}


.Shooter .genre-title{
    background-color: #00ADB5;
    border: none;
    margin-left: 46%;

}
