.Sports{
    height: 180vh;
}

.Sports .all-container{
    padding-top: 30px;
    margin: 0 300px;
    background-color:#43485068 ;
    height: 170vh;
}

.Sports .recommended-container{
    padding-top: 30px;
}

 .Sports .recommended-container h3{
    margin-left: 2.3rem;
  
}

.Sports .games-container{
    display: flex;

}

.Sports .left-cards-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 150px;
    margin-top: 1rem;
    margin-left: 3rem;
}

.Sports .right-cards-container{
    margin-top: 1rem;
    margin-left: 3.7rem;
    display: flex;
    flex-direction: column;
}

.Sports #more-games{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #00ADB5;
}