.Sports{
    height: 180vh;
}

.Sports .all-container{
    padding-top: 30px;
    margin: 0 300px;
    background-color:#43485068 ;
    height: 170vh;
}

.Sports .recommended-container{
    padding-top: 30px;
}

 .Sports .recommended-container h3{
    margin-left: 2.3rem;
  
}

.Sports .games-container{
    display: flex;

}

.Sports .left-cards-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 150px;
    margin-top: 1rem;
    margin-left: 3rem;
}

.Sports .right-cards-container{
    margin-top: 1rem;
    margin-left: 3.7rem;
    display: flex;
    flex-direction: column;
}

.Sports #more-games{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #00ADB5;
}

@media (max-width: 1024px) {
    .Sports{
        height: 120vh;
    }
    
    .Sports .all-container{
        padding-top: 30px;
        margin: 0 ;
        height: 120vh;
    }
    
    .Sports .recommended-container{
       display: none;
    }
 
 
    .Sports .left-cards-container{
        display: flex;
        flex-direction: column;
        width: 520px;
        height: 150px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .Sports .right-cards-container{
        margin-top: 467px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    
    .Sports #more-games{
        margin-left: 1rem;
        margin-top: 1rem;
    }
    
}


@media (max-width: 576px) {

    .Sports{
        height: 130vh;
    }
    .Sports .all-container{
 
        height: 130vh;
    }
}