.GamesByNamePage {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.GamesByNamePage .top-container {
  display: flex;
  gap: 100px;
}

.GamesByNamePage .img-container {
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.GamesByNamePage .img-container img {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  border-radius: 330px;
}

.GamesByNamePage .img-container img:hover {
  transform: scale(1.1);
}

.GamesByNamePage .play-library-container {
  margin-top: 20px;
}
.GamesByNamePage .add-to-library {
  width: 300px;
  margin-left: 10px;
}

.GamesByNamePage .game-title {
  padding-bottom: 20px;
}

.GamesByNamePage .game-description {
  width: 60ch;
  line-height: 1.7;
  color: rgb(173, 172, 172);
}

.GamesByNamePage .game-info {
  margin-top: 20px;
  line-height: 1.7;
  letter-spacing: 2px;
  font-size: 1rem;
  color: #00adb5;
}

.GamesByNamePage .game-info span {
  font-size: 0.9rem;
  color: #eeeeeec4;
}
.GamesByNamePage .rating {
  margin-top: 10px;
  padding: 5px 10px;
  width: 150px;
  border: 2px solid rgb(189, 123, 123);
  border-radius: 10px;
}

.GamesByNamePage .back-btn {
  height: 5ch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GamesByNamePage .back-icon {
  font-size: 1rem;
}

.GamesByNamePage .recommended-games-container h4 {
  color: #00adb5;
}

.GamesByNamePage .recommended-games img {
  border-radius: 30%;
}

.GamesByNamePage .line {
  border: 2px dotted #eeeeee;
  width: 70%;
}

@media (max-width: 1024px) {
  .GamesByNamePage .img-container {
    width: 300px;
    height: 300px;
    border-radius: 0;
    margin-left: -100px;
    margin-top: 70px;
  }

  .GamesByNamePage .img-container img {
    height: fit-content;
    border-radius: 60px;
  }

  .GamesByNamePage .play-library-container {
    margin-top: 30px;
  }
  .GamesByNamePage .add-to-library {
    width: 200px;
    margin-left: 10px;
  }

  .GamesByNamePage .game-title {
    padding-top: 100px;
    text-align: center;
  }

  .GamesByNamePage .rating {
    margin-top: 15px;
  }

  .GamesByNamePage .top-container {
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-bottom: 50px;
  }

  .GamesByNamePage .RecommendedCards {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .GamesByNamePage .RecommendedCards .img-container {
    height: 100%;
    padding-bottom: 50px;
  }

  .GamesByNamePage .RecommendedCards img {
    width: 400px;
  }

  .GamesByNamePage .line {
    left: 60px;
    top: 530px;
  }
}

@media (max-width: 820px) {
  .GamesByNamePage .top-container {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 430px) {
  .GamesByNamePage .top-container {
    padding: 0;
  }

  .GamesByNamePage .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .GamesByNamePage .game-description {
    width: 40ch;
  }

  .GamesByNamePage .RecommendedCards img {
    width: 300px;
  }
}
