.Strategy{
    height: 235vh;
}

.Strategy .all-container{
    padding-top: 30px;
    margin: 0 300px;
    background-color:#43485068 ;
    height: 225vh;
}

.Strategy .recommended-container{
    padding-top: 30px;
}

 .Strategy .recommended-container h3{
    margin-left: 2.3rem;
  
}

.Strategy .games-container{
    display: flex;

}

.Strategy .left-cards-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 150px;
    margin-top: 1rem;
    margin-left: 3rem;
}

.Strategy .right-cards-container{
    margin-top: 1rem;
    margin-left: 3.7rem;
    display: flex;
    flex-direction: column;
}

.Strategy #more-games{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #00ADB5;
}


@media (max-width: 1024px) {
    .Strategy{
        height: 170vh;
    }
    
    .Strategy .all-container{
        padding-top: 30px;
        margin: 0 ;
        height: 170vh;
    }
    
    .Strategy .recommended-container{
        display: none;
    } 
    
    .Strategy .left-cards-container{
        display: flex;
        flex-direction: column;
        width: 520px;
        height: 150px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .Strategy .right-cards-container{
        margin-top: 467px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    
    .Strategy #more-games{
        margin-left: 1rem;
        margin-top: 1rem;
    }
    
}


@media (max-width: 576px) {

    .Strategy{
        height: 190vh;
    }
    .Strategy .all-container{
 
        height: 190vh;
    }
}