
.RegisterPage{
    height: 93.5vh;
    display: flex;

}

.RegisterPage .login-container{
    display: flex;
    margin: 6% 20%;
    height: 500px;

}

.RegisterPage .wave{
    padding: 160px;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: url('https://img.freepik.com/premium-vector/rgb-hexagonal-background_11469-76.jpg') no-repeat;
    background-size: cover;

}
.RegisterPage .wave h1{
    padding-top: 60px;
}


.RegisterPage .login-container .login{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 50px ;
    border-left: none;
    width: 500px;
    background-color: #22283172;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;



}
.RegisterPage .login-container .login h1{
    padding-bottom: 20px;
    margin-top: 70px;
    font-size: 1.6rem;
    
}

.RegisterPage form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 15px;
    
    
}

.RegisterPage form input,
.RegisterPage form button{
    padding: 15px 10px;
    width: 350px;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: none;
    background-color: #222831;
    color: white;
    border:none;
}

.RegisterPage form button{
    cursor: pointer;
    background-color: #4e5e75;
    

}

.RegisterPage form button:hover{

    background-color: #4e5e758c;

}

.RegisterPage .register{
    padding-top: 20px;
    font-size: 0.9rem;
    text-decoration: none;
    padding-left: 5rem;

}

.RegisterPage .register span{
    color: rgb(128, 128, 249);
    cursor: pointer;
    padding-left: 5px;
}

.RegisterPage .password-error-msg,
.RegisterPage .email-error-msg{
    color: red;
    height: 10px;
    padding-bottom: 5px;
}
.RegisterPage .email-input{
    margin-bottom: -15px;
}

@media (max-width: 1024px) {
    .RegisterPage{
        width: 100%;
        height: 95.6vh;
    }
    
    .RegisterPage .login-container{
        margin: 20%  10%;
        height: 500px;
    }
    
    .RegisterPage .wave h1{
        font-size: 20px;
        padding-top: 300%;
    }
    
    .RegisterPage .wave{
        padding: 20px 80px;
    }
    
    
    .RegisterPage .login-container .login{
    
        height: 500px;
        width: 400px;
    }
    
    .RegisterPage .login-container .login h1{
        padding-bottom: 30px;
        margin-top: 50px;
        font-size: 20px;
        
    }
    
    .RegisterPage form{
        gap: 10px;
    
    }
    
    .RegisterPage form input,
    .RegisterPage form button{
        padding: 5px 10px;
        width: 300px;
        font-size: 1.3rem;
    
    }
    
    .RegisterPage form button{
        margin-top: 10px;
    
    }
    
    .RegisterPage .password-error-msg,
    .RegisterPage .email-error-msg{
        font-size: 15px;
        height: 20px;
        margin-bottom: 2px;
        padding-top: 6px;
    }

 
    }
    
    @media (max-width: 576px) {
        .RegisterPage{
            width: 100%;
            height: 93.6vh;
        }
        
        .RegisterPage .login-container{
            margin: 20% 5%;
            height: 500px;
            
        }
        
        .RegisterPage .wave h1{
    
            display: none;
        }
        
        .RegisterPage .wave{
            display: none;
        }
        
        
        .RegisterPage .login-container .login{
        
            height: 500px;
            width:350px;
            border-radius: 10px;
        }
        
        .RegisterPage .login-container .login h1{
            padding-bottom: 30px;
            margin-top: 50px;
            margin-left: -30px;
            font-size: 20px;
     
            
        }
        
        .RegisterPage form{
            gap: 10px;
    
        }
        
        .RegisterPage form input,
        .RegisterPage form button{
            padding: 10px 10px;
            width: 300px;
            font-size: 1rem;
        
        }
        
        .RegisterPage form button{
            margin-top: 10px;
        
        }
        
        .RegisterPage .password-error-msg,
        .RegisterPage .email-error-msg{
            font-size: 12px;
        }
    
        
    
    .RegisterPage .register span{
        padding-left: 5px;
    
    
    }
    
    
    }