
.RegisterPage{
    height: 93.6vh;
    display: flex;

}

.RegisterPage .login-container{
    display: flex;
    margin: 6% 20%;
    height: 500px;

}

.RegisterPage .wave{
    padding: 160px;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: url('https://img.freepik.com/premium-vector/rgb-hexagonal-background_11469-76.jpg') no-repeat;
    background-size: cover;

}
.RegisterPage .wave h1{
    padding-top: 60px;
}


.RegisterPage .login-container .login{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px ;
    border-left: none;
    width: 500px;
    background-color: #22283172;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;



}
.RegisterPage .login-container .login h1{
    padding-bottom: 20px;
    margin-top: 70px;
    font-size: 1.6rem;
    
}

.RegisterPage form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 15px;
    
    
}

.RegisterPage form input,
.RegisterPage form button{
    padding: 15px 10px;
    width: 350px;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: none;
    background-color: #222831;
    color: white;
    border:none;
}

.RegisterPage form button{
    cursor: pointer;
    background-color: #4e5e75;
    

}

.RegisterPage form button:hover{

    background-color: #4e5e758c;

}

.RegisterPage .register{
    padding-top: 20px;
    font-size: 0.9rem;
    text-decoration: none;

}

.RegisterPage .register span{
    color: rgb(128, 128, 249);
    cursor: pointer;
    padding-left: 5px;
}