.Categories {
  min-height: 100vh;
}

.Categories .all-container {
  padding-top: 30px;
  margin: 0 300px;
  background-color: #43485068;
  padding-bottom: 50px;
  min-height: 100vh;
}

.Categories .recommended-container {
  padding-top: 30px;
}

.Categories .recommended-container h3 {
  margin-left: 2.3rem;
}

.Categories .games-container {
  display: flex;
}

.Categories .left-cards-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 1rem;
  margin-left: 3rem;
}

.Categories .right-cards-container {
  margin-top: 1rem;
  margin-left: 3.7rem;
  display: flex;
  flex-direction: column;
}

.Categories #more-games {
  margin-left: 3rem;
  margin-top: 4rem;
  color: #00adb5;
}

@media (max-width: 1440px) {
  .Categories .all-container {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .Categories .all-container {
    padding-top: 30px;
  }

  .Categories .left-cards-container {
    display: flex;
    flex-direction: column;
    width: 520px;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .Categories .right-cards-container {
    margin-top: 467px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }

  .Categories #more-games {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .Categories .recommended-container h3 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 415px) {
  .Categories .games-container {
    width: 340px;
  }
}
