@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.Header{
    width: 100%;
    height: 60px;
    background-color: #222831;
    display: flex;
    font-family: 'Inter' , Arial, Helvetica, sans-serif;



}

.Header .logo{
    padding: 0.3rem 0 ;
    font-size: 1.4rem;
    color: #00acb5ba;
    text-decoration: none;
    margin-left: 20%;
}

.Header .loginOrRegister{
    color: #EEEEEE;
    border: 2px solid rgb(41, 119, 119);
    padding: 1rem 20px;
    border-radius: 10px;
    margin: 5px 0;
    text-decoration: none;
    

}

.Header .login{
    margin-left: 710px;
    border: none;
    color: #adb4be;
}

.Header .logout{
    margin-left: 10px;
    padding-top: 1rem;
    border: 2px solid rgb(188, 82, 82);
    color: #7ea5de; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    
}

.Header .register{
    margin-left: 10px;
}

.Header .loginOrRegister:hover{
    border-color: rgb(59, 59, 151);
    color: darkcyan;
}

.Header .register:hover{
    transform: rotateY(360deg);
    transition: transform 3s ease-in-out;
}

.Header .logged-user{
    color: #7ea5de;
    margin-left: 500px;
    padding-top: 1.2rem;
    letter-spacing: 0.5px;
}

.Header .my-library{
    color: #EEEEEE;
    padding: 1rem 20px;
    margin: 5px 0;
    text-decoration: none;
    
}