dialog , .nickname-dialog-form{
    text-align: center;
    width: 500px;
    height: 200px;
    position: fixed;
    border-radius: 20px;
    opacity: 0.9;
    line-height: 1.7;
    border: none;
    letter-spacing: 2px;
    padding-top: 50px;    
    top: 40%;
    left: 35%;
    background-color: #222831;
}
dialog::backdrop{
    background-color: black;
    opacity: 0.6;
}
.nickname-dialog-form{

    height: 300px;
    width: 500px;
    left: 40%;
}

dialog h3{
    color: rgb(43, 185, 43);
}

.close-dialog ,
 .nickname-dialog-form .close-dialog{
    padding: 10px 30px;
    margin-top: 10px;
    cursor: pointer;
    color: #00ADB5;
    background-color: #393E46;
    font-weight: bold;
    border-radius: 15px;
    font-size: 1.2rem;
    margin-left: 30px;
    border: none;
    
}
.close-dialog:hover{
    background-color: #5e6c819b;
}

#nickname{
    background-color: white;
    margin-left: 80px;
    color: black;
}

.nickname-dialog-form .x{
    position: absolute;
    top: 0;
    right: 30px;
    width: fit-content;
    padding: 5px 10px;

}
.nickname-dialog-form .close-dialog{
    position: relative;
    left: 50px;
}

.nickname-dialog-form .error-msg{
color: red;
height: 0px;

}

@media (max-width: 1024px) {

dialog{
    left: 130px;
}
.nickname-dialog-form {
    left: 150px;
}

.nickname-dialog-form h3{
    margin-left: -50px;
}

.nickname-dialog-form .error-msg{
    margin-left: -50px;

}
}

@media (max-width: 576px) {

    dialog{
        left: 10px;
    }
    .nickname-dialog-form {
        left: 15px;
    }
    
    .nickname-dialog-form h3{
        margin-left: -10px;
    }
    
    .nickname-dialog-form .error-msg{
        margin-left: -10px;
    
    }
    .nickname-dialog-form #nickname{
        margin-left: 50px;
    }
    .nickname-dialog-form .close-dialog{
        margin-left: 0px;
    }
}