.Fighting{
    height: 235vh;
}

.Fighting .all-container{
    padding-top: 30px;
    margin: 0 300px;
    background-color:#43485068 ;
    height: 225vh;
}

.Fighting .recommended-container{
    padding-top: 30px;
}

 .Fighting .recommended-container h3{
    margin-left: 2.3rem;
  
}

.Fighting .games-container{
    display: flex;

}

.Fighting .left-cards-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 150px;
    margin-top: 1rem;
    margin-left: 3rem;
}

.Fighting .right-cards-container{
    margin-top: 1rem;
    margin-left: 3.7rem;
    display: flex;
    flex-direction: column;
}

.Fighting #more-games{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #00ADB5;
}

@media (max-width: 1024px) {
    .Fighting{
        height: 170vh;
    }
    
    .Fighting .all-container{
        padding-top: 30px;
        margin: 0 ;
        height: 170vh;
    }
    
    .Fighting .recommended-container{
        padding-top: 0px;
    }
    
     .Fighting .recommended-container h3{
        display: none;
      
    }
    
    
    .Fighting .left-cards-container{
        display: flex;
        flex-direction: column;
        width: 520px;
        height: 150px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .Fighting .right-cards-container{
        margin-top: 467px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    
    .Fighting #more-games{
        margin-left: 1rem;
        margin-top: 1rem;
    }
    
}


@media (max-width: 576px) {

    .Fighting{
        height: 190vh;
    }
    .Fighting .all-container{
 
        height: 190vh;
    }
}