.MMORPG{
    height: 235vh;
}

.MMORPG .all-container{
    padding-top: 30px;
    margin: 0 300px;
    background-color:#43485068 ;
    height: 225vh;
}

.MMORPG .recommended-container{
    padding-top: 30px;
}

 .MMORPG .recommended-container h3{
    margin-left: 2.3rem;
  
}

.MMORPG .games-container{
    display: flex;

}

.MMORPG .left-cards-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 150px;
    margin-top: 1rem;
    margin-left: 3rem;
 
}

.MMORPG .right-cards-container{
    margin-top: 1rem;
    margin-left: 3.7rem;
    display: flex;
    flex-direction: column;
}
.MMORPG #more-games{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #00ADB5;
}

@media (max-width: 1024px) {
    .MMORPG{
        height: 170vh;
    }
    
    .MMORPG .all-container{
        padding-top: 30px;
        margin: 0 ;
        height: 170vh;
    }
    
    .MMORPG .recommended-container{
        padding-top: 0px;
    }
    
     .MMORPG .recommended-container h3{
        display: none;
      
    }
    
    
    .MMORPG .left-cards-container{
        display: flex;
        flex-direction: column;
        width: 520px;
        height: 150px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .MMORPG .right-cards-container{
        margin-top: 467px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    
    .MMORPG #more-games{
        margin-left: 1rem;
        margin-top: 1rem;
    }
    
}


@media (max-width: 576px) {

    .MMORPG{
        height: 190vh;
    }
    .MMORPG .all-container{
 
        height: 190vh;
    }
}