.HomePage {
  padding-bottom: 50px;
  min-height: 100vh;
}

.HomePage .left-logo,
.HomePage .right-logo {
  width: 200px;
  position: absolute;
}
.HomePage .left-logo {
  left: 30px;
}
.HomePage .right-logo {
  right: 30px;
}

.HomePage .welcome-msg {
  display: flex;
  justify-content: center;
  padding: 50px 10px;
  letter-spacing: 1.2px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #52555a1c;
}

.HomePage .cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
}

.HomePage .left-cards-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.HomePage .right-cards-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
}

.HomePage .cards-title {
  color: #00adb5;
  margin-left: 350px;
  margin-top: 50px;
}

.HomePage .recommended-games {
  border-radius: 10px;
  background-color: #353b43;
  padding-bottom: 2rem;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.HomePage .recommended-games h5 {
  margin-left: 2.5%;
  padding-top: 15px;
  color: #00acb5;
}

.HomePage .recommended-games img {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.HomePage #loading {
  text-align: center;
  padding-top: 50px;
}

@media (max-width: 1024px) {
  .HomePage .left-logo,
  .HomePage .right-logo {
    display: none;
  }

  .HomePage .welcome-msg {
    padding: 50px 10px;
    letter-spacing: 1px;
    gap: 20px;
  }

  .HomePage .welcome-msg h3,
  .HomePage .welcome-msg h4 {
    font-size: 1.2rem;
  }

  .HomePage .cards-section {
    margin-top: 0px;
  }

  .HomePage .left-cards-container {
    padding: 0;
  }

  .HomePage .right-cards-container {
    margin-left: 1.2rem;
    margin-top: -2.5rem;
  }

  .HomePage .cards-title {
    margin-left: 30px;
    margin-top: 50px;
    padding-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .HomePage .welcome-msg {
    padding-bottom: 20px;
  }

  .HomePage .recommended-games h5 {
    font-size: 1rem;
  }

  .HomePage .RecommendedCards {
    gap: 40px;
  }

  .HomePage .welcome-msg h3,
  .HomePage .welcome-msg h4 {
    font-size: 0.9rem;
    line-height: 1.5;
    width: 29ch;
  }

  .HomePage .welcome-msg button {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .HomePage .recommended-games h5 {
    font-size: 0.9rem;
  }
}
