.HomePage{
    width: 100%;
    height: 200vh;  

   
}

.HomePage .welcome-msg{
    display: flex;
    justify-content: center;
    padding: 50px 10px ;
    letter-spacing: 1.2px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #52555a1c;
}
.HomePage .welcome-msg button{
    padding: 10px;
    background-color: #00ADB5;
    border: none;
    color: #EEEEEE;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.HomePage .welcome-msg button:hover{

    background-color: #00acb5a9;
    color: rgb(231, 157, 66);
}

.HomePage .cards-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.HomePage .left-cards-container{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.HomePage .right-cards-container{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: -7rem;

}

.HomePage .cards-title{
    color: #00ADB5;
    margin-left: 350px;
    margin-top: 50px;
}